
<form class="p-4 p-md-5 border rounded-3 bg-dark" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Name" [formControl]="name" required >
      <label for="floatingInput">Name</label>
    
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [formControl]="email" required>
      <label for="floatingInput"> Email Address</label>
    </div>
    <div class="form-floating mb-3">
      <p style="color: white;">Type your message here:</p>
      <textarea class="form-control" rows="10" col= "10" id="floatingInput"  [formControl]="message" required></textarea>
      
    </div>
      <button  class="w-100 btn btn-lg btn-primary" [disabled]="isLoading" type="submit">Submit</button>
      <input [formControl]="honeypot" class="hidden" type="text" />
      <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
        <br>
        <span style="color: white;">{{responseMessage}}</span>
      </div>
    </form>
    